// Structure / Layout

.wrap{
  background: white; /* fallback for old browsers */
  height:100vh;
  width:100%;
  .right{
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    background-color: lightseagreen;
  }
}

.background{
  width: 75%;
  height: 80%;
  left: 12.5%;
  top: 10%;
  position: fixed;
  background-color: rgba(255,255,255,0.2);
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 4px 5px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 10px 4px 5px rgba(0,0,0,0.21);
  box-shadow: 0px 10px 4px 5px rgba(0,0,0,0.21);
  .left, .right{
    width:100%;
    height:200%;
    top:-50%;
    position:absolute;
    overflow:hidden;
    transition: 1s ease-in-out;
  }
  .left{
    background-color: lightseagreen;
    transform-origin: center;
    transition: 1s ease-in-out;
  }
  .right{
    background-color: white;
    right:-50%;
    transform-origin: left;
    animation:rightin 2s;
  }
  .clicked.right{
    transform: rotate(180deg);
  }
  .iphone{
    height: 530px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-49%) translateY(-48%);
  }
  .logo{
    position: absolute;
    top: 2.5%;
    left: 3%;
    height: 75px;
    z-index: 5;
  }
}

@keyframes rightin {
    from {right: 0%;}
    to {right: -50%;}
}

@keyframes fadein{
  from{color:rgba(255,255,255,0);}
  to{color:rgba(255,255,255,100);}
}
// Utilities

.spacer{
  margin-top:240px;
}

.hidden{
   visibility:hidden;
}

// Elements

.content-left, .content-right{
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  height: 250px;
  padding: 0 25px;
  width: 50%;
  h2{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 24px;
  }
  p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
}

.content-left{
  text-align: left;
  color:white;
  padding-right:130px;
}

.content-right{
  text-align: right;
  color: lightseagreen;
  right: 0;
  animation: fadein 1s;
  padding-left: 130px;
}

.content-left.alternate{
  color: lightseagreen;
}

.content-right.alternate{
  color:white;
}

img.demo {
    z-index: 9999;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 195px;
}

// Animation



